/* ------------------------------------------------------------------
Colors
------------------------------------------------------------------ */
$vermelho: #880708;
$verde: #006843;
$bege: #ebe2ba;
$marrom: #794e0a;
$salmon: #ffab62;
$cinza: #bbc;
$grey: #808080;