/* ------------------------------------------------------------------
Fonts
TTF - Para todos os demais navegadores
EOT - Para Internet Explore
------------------------------------------------------------------ */

$fontCrimson: 'Crimson Text', serif;
$fontLato: 'Lato', sans-serif;
$fontTrebuchetMS: 'Trebuchet MS', sans-serif;
$fontLucidaSansUnicode: 'Lucida Sans Unicode', sans-serif;
$fontLucidaGrande: 'Lucida Grande', sans-serif;
$fontLucidaSans: 'Lucida Sans', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

@font-face {
    font: {
        family: $fontLucidaSansUnicode, $fontLucidaGrande, $fontLucidaSans;
        weight: normal;
    }
}

@font-face {
    font: {
        family: $fontRoboto;
        weight: normal;
    }
}