<header class="container header">
    <nav class="row navbar">
        <h1 class="pull-left">
            <a href="http://www.trezentos.com.br/" target="_blank">
                <img src="{{site.baseurl}}Repositorio/dist/img/logo.png" alt="Logo Trezentos">
            </a>
        </h1>

        <input type="checkbox" id="control-nav" />
        <label for="control-nav" class="control-nav"></label>
        <label for="control-nav" class="control-nav-close"></label>

        <ul class="nav" id="menu">
            <li class="nav-item">
                <a class="active" href="#">Normal Item</a>
            </li>
            <li class="nav-item">
                <a href="#">Normal Item</a>
            </li>
            <li class="nav-item">
                <a href="#">Normal Item</a>
            </li>
            <li class="nav-item">
                <a href="#">Normal Item</a>
            </li>
            <li class="nav-item">
                <a href="#">Normal Item</a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/300com" target="_blank">
                    <img src="{{site.baeurl}}Repositorio/dist/img/icon/twitter.png" alt="Twitter - 300 Comunicação" />
                </a>
                <a href="https://www.facebook.com/300comunicacao/" target="_blank">
                    <img src="{{site.baeurl}}Repositorio/dist/img/icon/facebook.png" alt="Facebook - 300 Comunicação" />
                </a>
                <a href="https://plus.google.com/109504945514336042196" target="_blank">
                    <img src="{{site.baeurl}}Repositorio/dist/img/icon/google.png" alt="Google+ - 300 Comunicação" />
                </a>
            </li>
        </ul>
    </nav>
</header>