<head>
	<meta charset="utf-8">
	<!--[if lt IE 9]> <meta http-equiv="X-UA-Compatible" content="IE=edge"> <![endif]-->
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" href="{{site.baseurl}}Repositorio/dist/img/icon/favicon.png" type="image/png">

	<!--[if lt IE 9]> <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Playfair+Display:400,700|Poppins:300,400,700|Roboto:300,400,700" rel="stylesheet">

	<link rel="stylesheet" href="{{site.baseurl}}Repositorio/dist/css/screen.css" type="text/css">
    
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
</head>